body{
    background-color: black;
    color: whitesmoke;
}
.expenses
{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height:500px;
    border:rgb(243, 18, 18) 5px solid;

    
}
.overall
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border:rgb(64, 51, 238) 5px solid;
    height:500px;

  
}
.incomes
{
    margin-left: 30px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height:500px;
    border:rgb(34, 231, 149) 5px solid;
}
.info
{
    text-align: center;
}
h3:nth-of-type(2n){
    padding-top: 30px;
    padding-bottom: 30px;
    width: 98%;
    height: 60%;
    border-radius: 10px;
}
#tot_inc{
    background-color:rgba(255, 208, 0, 0.925) ;
}
#tot_exp{
    background-color:rgba(255, 208, 0, 0.925);
}
#money{
    background-color: rgb(95, 95, 235);
}
#select_btn{
    background-color:rgb(233, 171, 233);
}
#add_btn{
    background-color: rgb(233, 171, 233);
    margin-left: 0;
}
#desc{
    background-color: rgb(245, 226, 245);
}
#amt{
    margin-right: 0;
    background-color: rgb(245, 226, 245);
}